.navbar-color{
    background-color: black;
}

body{
    padding-bottom:20px;
    color: #5a5a5a;
    font-family: 'Acme', sans-serif;
    min-width: 100%;
    max-width: 100%;
}

.navbar-warapper{
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    z-index: 20;
}

.carousel{
    height: 500px;
    margin-bottom: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.carousel .carousel-item{
   height: 700px; 
background-color: #777;
}

.carousel-inner > .carousel-item > img{
    position: absolute;
    height: 740px;
    min-width: 100%;
    top: 0;
    left: 0;
}

.opaque{
    opacity: .5;
}

.navbar-wrapper .navbar .container{
    width: auto;
}

.team{
    margin-top: 270px;
}

.team .col-lg-4{
    text-align: center;
    margin-bottom:  20px;
}

.team h2{
    color: deepskyblue;
}

.team p{
    margin-left: 10px;
    margin-right: 10px;
}

.divider{
    margin: 40px 0px;
    width: 70%;
    color: deepskyblue;
}

.seven1{
    padding-left: 70px;
    padding-top: 80px;
}

.seven2{
    padding-left: 1px;
    padding-top: 80px;
    padding-right: 25px;
}

.pull-right{
    float: right;
}

.padding-right{
    padding-right: 55 px;
}

footer{
    margin: 10px 100px;
}