.mynav {
    font-family: 'arvo',serif;
    opacity: .80;
}

body{
    background-image: url("home.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 720px) {
    #hello{
    padding-top: 35%;
    color: white;
    font-size: 6em;
    font-weight: bolder;
}  
}

.hello{
    padding-top: 20%;
    color: white;
    font-size: 8em;
    font-weight: bolder;
}