.bg-black {
  background: #000;
  color: white; }

#main-header img {
  width: 369px;
  height: 395px; }

#main-header .port-item {
  width: 25%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

body {
  background: #ddd; }

#contact textarea {
  height: 150px; }

#contact .toedit {
  height: 150px; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; }
  .name {
    font-size: 2em; } }

@media (min-width: 978px) {
  .name {
    font-size: 1.6em; } }

@media (max-width: 479px) {
  .name h1 {
    font-size: 48px !important; }
  .fa {
    padding-left: 8px !important; } }

@media (max-width: 319px) {
  .name h1 {
    font-size: 42px !important; }
  .fa {
    padding-left: 8px !important; } }

@media (max-width: 736px) {
  .name h1 {
    font-size: 58px !important; }
  .fa {
    padding-left: 10px !important; } }
