html{
    scroll-behavior: smooth;
    font-family: 'arvo',serif;
}

body{
    font-family: 'arvo',serif;
}

.mynav {
    font-family: 'arvo',serif;
    opacity: .99;
}

h5{
    line-height: 1.7;
}

hr{
    border: 1px solid dimgray; 
    width: 85%;
}

#heading{
    padding-top:8%;
    font-size: 45px;
}


@media screen and (max-width: 720px) {
    #heading{
    padding-top: 20%;
    font-size: 30px;
    }
}

.x{
    width: 70%;
}